/*FONTS*/
/*============================================*/
@font-face {
    font-family: 'Neue Machina';
    src: local('Neue Machina Bold'), local('Neue-Machina-Bold'),
        url('/fonts/NeueMachina-Bold/NeueMachina-Bold.woff2') format('woff2'),
        url('/fonts/NeueMachina-Bold/NeueMachina-Bold.woff') format('woff'),
        url('/fonts/NeueMachina-Bold/NeueMachina-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Machina';
    src: local('Neue Machina Ultra bold'), local('Neue-Machina-Ultra-bold'),
        url('/fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.woff2') format('woff2'),
        url('/fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.woff') format('woff'),
        url('/fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

/* raleway-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/Raleway/raleway-v29-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/Raleway/raleway-v29-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Raleway/raleway-v29-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Raleway/raleway-v29-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Raleway/raleway-v29-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Raleway/raleway-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Raleway/raleway-v29-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Raleway/raleway-v29-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Raleway/raleway-v29-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Сайт*/
*body{
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: #F0D9FF;
}

html {
  scroll-behavior: smooth;
}

.Web_body{
  width: 1440px;
  height: 2230px;
  background-color: #F0D9FF;
  display: block;
  position: absolute;
}

/*Тело Сайта*/
.Web_body{
  width: 1444px;
  height: 2230px;
  position: absolute;
  display: block;
  background-color: #F0D9FF;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  z-index: 1;
  margin-top: -535px;
}

/*Шапка*/
header{
  z-index: 100;
  margin-top: -8px;
  width: 1444px;
  height: 64px;
  background-color: #F2F2F2;
  display: inline-flex;
  position: fixed;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  align-items: center;
  text-align: center;
justify-content: flex-start;
}
/*======================Super_Quiz=============================*/
.Super_Quiz{
  margin-top: 5px;
  margin-left: 48px;
  margin-bottom: 14px;
  display: block;
  position: relative;
  /**/
color: #000;
font-family: Neue Machina;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
word-wrap: break-word;
}

/*====Навигация с ссылками - Главная Квиз Отзывы Не главная====*/
.nav_li{
  display: flex;
  margin-left: 100px;
  list-style: none;
}
/*ССЫЛКИ*/
/*1*/
.nav_link_one{
  border: 1px solid black;
  padding-top: 15px;
  position: inherit;
  display: block;
  margin-right: 32px;
  text-decoration: none;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
  background-color: #ffffff;
  width: 100px;
  height: 45px;
  border-radius: 16px;
}
.nav_link_one:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.3s;
}
.nav_link_one:focus{
  background-color: #9E00FF;
  color: white;
  transition: 0.3s;
}
/*2*/
.nav_link_two{
  border: 1px solid black;
  padding-top: 15px;
  position: inherit;
  display: block;
  margin-right: 32px;
  text-decoration: none;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
  background-color: #ffffff;
  width: 100px;
  height: 45px;
  border-radius: 16px;
}
.nav_link_two:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.3s;
}
.nav_link_two:focus{
  background-color: #9E00FF;
  color: white;
  transition: 0.3s;
}
/*3*/
.nav_link_three{
  border: 1px solid black;
  padding-top: 15px;
  position: inherit;
  display: block;
  margin-right: 32px;
  text-decoration: none;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
  background-color: #ffffff;
  width: 100px;
  height: 45px;
  border-radius: 16px;
}
.nav_link_three:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.3s;
}
.nav_link_three:focus{
  background-color: #9E00FF;
  color: white;
  transition: 0.3s;
}
/*4*/
.nav_link_four{
  padding-top: 15px;
  position: inherit;
  display: block;
}
.nav_link_four_button {
  margin-top: -15px;
  border: solid 0.6px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
  background-color: #ffffff;
  width: 150px;
  height: 60px;
  border-radius: 16px;
}
.nav_link_four_button:hover{
  background-color: #000;
  color: white;
  transition: 0.3s;
}
.nav_link_four_button:focus{
  background-color: #9E00FF;
  color: white;
  transition: 0.3s;
}
/*+++ Доп меню +++*/
.Variants{
  position: absolute;
  max-width: 300px;
  background-color: #dadadaa1;
  display: none;
}
.Variants:hover{
  color: white;
  background-color: #9e9e9e00;
}
.nav_link_four:hover .Variants{
display: block;
border-radius: 24px;
transition: 0.3s;
}
.nav_link_four .nav_link_four_button:hover{
background-color: #000000;
display: block;
}
.vr1{
  color: #000000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
text-decoration: none;
display: block;
border-radius: 16px;
border: 2px solid black;
width: 130px;
height: 35px;
padding-top: 10px;
}
.vr1:hover{
  background-color: #000000;
  color: white;
  transition: 0.3s;
}
.vr1:focus{
  background-color:#9E00FF;
  color: white;
  transition: 0.3s;
}
.vr2{
  color: #000000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
text-decoration: none;
display: block;
border-radius: 16px;
border: 2px solid black;
width: 155px;
height: 35px;
padding-top: 10px;
}
.vr2:hover{
  background-color: #000000;
  color: white;
  transition: 0.3s;
}
.vr2:focus{
  background-color:#9E00FF;
  color: white;
  transition: 0.3s;
}
.vr3{
  color: #000000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
text-decoration: none;
display: block;
border-radius: 16px;
border: 2px solid black;
width: 215px;
height: 35px;
padding-top: 10px;
}
.vr3:hover{
  background-color: #000000;
  color: white;
  transition: 0.3s;
}
.vr3:focus{
  background-color:#9E00FF;
  color: white;
  transition: 0.3s;
}

/*====================Связаться с нами=========================*/
.Call{
  margin-left: 70px;
  display: inline-flex;
  position: relative;
 padding-left: 32px;
 padding-right: 32px;
 padding-top: 12px;
 padding-bottom: 12px;
 align-items: center;
 justify-content: center;
 text-align: center;
 border-radius: 16px;
 background-color: #ffffff;
 color: #000;
 width: 230px;
 height: 60px;
 /**/
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
}
.Call:hover{
  background-color: #000000;
  color: white;
  transition: 0.3s;
}
.Call:focus{
  background-color:#9E00FF;
  color: white;
  transition: 0.3s;
}
/*=========================СОЦ СЕТИ============================*/
.nav_Social{
  display: inline-flex;
  position: relative;
  width: 140px;
  height: 40px;
  gap: 10px;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 12px;
}
.TT{
  list-style: none;
  text-decoration: none;
}
.Tik_Tok{
  width: 47px;
  height: 47px;
  margin-top: -4px;
}
.Tik_Tok:hover{
  width: 57px;
  height: 57px;
  transition: 0.4s;
}
.VK{
  list-style: none;
  text-decoration: none;
}
.Vkontakte{
  width: 40px;
  height: 40px;
}
.Vkontakte:hover{
  width: 47px;
  height: 47px;
  transition: 0.4s;
}
.TG{
  list-style: none;
  text-decoration: none;
}
.Telegram{
  width: 40px;
  height: 40px;
}
.Telegram:hover{
  width: 47px;
  height: 47px;
  transition: 0.4s;
}
/*===================Заполнение анкеты=========================*/
/*Анкета*/
.modal {
display: none;
position: fixed;
z-index: 1;
left: 385px;
top: 75px;
width: 676px;
height: 909px;
overflow: auto;
background-color: #ffffff;
border-radius: 32px;
border: 2px solid black;
}
/*Контент внутри анкеты*/
.modal-content {
display: block;
transition: 2s;
}

/*Кнопка Close*/
.close {
  position: absolute;
  display: block;
  background-color: rgb(255, 255, 255);
  width: 56px;
  height: 56px;
  border: 2px solid;
  border-radius: 16px;
  margin-left: 603px;
  margin-top: 16px;
}
.close:hover,
.close:focus {
color: rgb(255, 255, 255);
text-decoration: none;
cursor: pointer;
background-color:#9E00FF;
}
.X_close {
  display: block;
  padding: 15px 0px 0px 14px;
  width: 28px;
  height: 28px;
}

.font_ancet_One{
  display: block;
  position: absolute;
  /**/
  color: #000;
font-family: Neue Machina;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 32px;
margin-top: 48px;
line-height: 70px;
}

.font_ancet_Two{
  margin-top: 317px;
  margin-left: 32px;
  color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: block;
position: absolute;
}

.User_Name{
  margin-top: 386px;
  margin-left: 32px;
  width: 280px;
height: 54px;
display:inline-flex;
position:initial;
}
.User_Last_name{
  margin-top: 386px;
  margin-left: 32px;
  width: 279px;
height: 54px;
display:inline-flex;
position:initial;
}
                /*Комментарий в блоке*/
.User_Comment{
  width: 602px;
  height: 55px;
  margin-top: 26px;
  margin-left: 32px;
}

.Upload_pos{
  margin-left: 308px;
}
.font_file {
  padding-top: 6px;
  width: 190px;
  height: 33px;
  border-radius: 8px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  display: inline-flex;
  position: absolute;
  margin-left: 70px;
  margin-top: -51px;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn_font_file{
  position: absolute;
  color: #000000;
text-align: center;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Img_file{
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  background-color: #000000;
  border-radius: 40px;
  margin-left: 165px;
  display: block;
  position: absolute;
}
.font_file:hover{
  background-color: #000000;
  color: #ffffff;
}

input::placeholder {
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: #6b6b6b;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: underline;
}

.font_ancet_three {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 30px;
  margin-left: 32px;
  display: block;
  position: absolute;
  align-items: center;
  text-align: center;
}
/*=========Кнопки - [Не знаю][Увидел][Вон он]========*/
.label {
  margin-right: -28px;
  margin-left: 32px;
  margin-top: 64px;
  width: 195px;
  height: 45px;
  display: inline-flex;
  border-color: #000;
  border: 2px solid black;
  border-radius: 32px;
}
.label:hover{
  background-color: #000;
  color: #ffffff;
}
.checkbox{
  display: none;
}
.fake {
  margin-top: 8px;
  margin-left: 32px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 40px;
  border: 2px solid;
  position: relative;
}
.fake::before{
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 2 solid black;
  opacity: 0;
  transition: 0.3s;
}

.checkbox:checked + .fake::before{
  width: 24px;
  height: 24px;
opacity: 1;
content: "";
background-size: 100%;
background-image: url(/SVG/X.svg);
}

.text {
  padding-left: 8px;
  padding-top: 7px;
  color: #000;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text:hover{
  color: #ffffff;
}

/*=========Кнопки - [Вон он][Увидел][Не знаю]========*/
.lbl {
  margin-right: -28px;
  margin-left: 32px;
  margin-top: 8px;
  width: 195px;
  height: 45px;
  display: inline-flex;
  background-color: #000;
  border: 2px solid black;
  color: #ffffff;
  border-radius: 32px;
}
.lbl:hover{
  background-color: #ffffff;
  color: #000000;
}
.chbox{
  display: none;
}
.fk {
  margin-top: 8px;
  margin-left: 32px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 40px;
  border: 2px solid;
  position: relative;
}
.fk::before{
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 2 solid black;
  opacity: 0;
  transition: 0.3s;
}

.chbox:checked + .fk::before{
  width: 24px;
  height: 24px;
opacity: 1;
content: "";
background-size: 100%;
/*background-image: url(/SVG/X.svg);*/
background-color:#9E00FF;
}

.form {
  padding-left: 8px;
  padding-top: 7px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form:hover{
  color: #000000;
}

/*================Кнопка [Продолжить]================*/
.next_one{
  width: 612px;
height: 62px;
background-color: #000;
color: #ffffff;
/**/
margin-left: 32px;
margin-bottom: 32px;
margin-top: 64px;
border-radius: 24px;
display: flex;
width: 612px;
padding: 12px 32px;
justify-content: center;
align-items: center;
gap: 10px;
/**/
 font-size: 32px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word;
}
.next_one:hover{
  background-color: #9E00FF;
  color: #ffffff;
}

/*Если [Имя][Фамилия][Комментарий] не были Заполнены*/
input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
  color: brown;
}

.comm_ico{
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 600px;
    position: absolute;
    margin-left: -654px;
    margin-top: 452px;
}
.comm_ico:hover{
  display: none;
  transition: 1s;
}
.com_ico:focus{
  display: none;
  transition: 1s;
}
.font_invld {
  border-radius: 8px;
  background-color: #ff004c;
  height: 20px;
  width: 205px;
  position: absolute;
  margin-left: -210px;
  margin-top: 535px;
  font-size: 20px;
}

/*=====Вторая анкета - [Ваши данные отправлены]====*/
.modal_two{
  left: 387px;
top: 75px;
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  width: 676px;
height: 647px;
background-color: #ffffff;
border-color: #000;
border-radius: 32px;
border: 2px solid black;
}

.modal_two-content_two{
  display: block;
  transition: 2s;
}

/* Кнопка [Close]*/
.close_two {
  position: absolute;
  display: block;
  background-color: rgb(255, 255, 255);
  width: 56px;
  height: 56px;
  border: 2px solid;
  border-radius: 16px;
  margin-left: 603px;
  margin-top: 16px;
}
.close_two:hover,
.close_two:focus {
color: rgb(255, 255, 255);
text-decoration: none;
cursor: pointer;
background-color:#9E00FF;
}
.X_close_two {
  display: block;
  padding: 15px 0px 0px 14px;
  width: 28px;
  height: 28px;
}

.img_Ancet_two{
width: 128px;
height: 128px;
background-image: url(/PNG/Smile_one.png);
margin-left: 32px;
margin-top: 128px;
}
.font_Ancet_two_1{
  margin-left: 32px;
  margin-top: 24px;
  margin-bottom: 0px;
  color: #000;
font-family: Neue Machina;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
word-wrap: break-word;
color: #000;
font-family: Neue Machina;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.font_Ancet_two_2{
  color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
margin-left: 32px;
margin-top: 25px;
}
.Go_to_Header{
  width: 612px;
height: 62px;
margin-left: 32px;
border-radius: 16px;
background-color: #000;
color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Go_to_Header:hover{
  background-color: #9E00FF;
}

/*===================Это Супер квиз==================*/
.This_is_a_Super_Quiz {
    position: relative;
    z-index: 2;
    width: 1444px;
    height: 535px;
    display: block;
    border-radius: 0px 0px 32px 32px;
    background-color: rgb(255, 255, 255);
}

.Font_Eto_SQ {
  position: absolute;
  display: flex;
  margin-left: 292px;
  margin-top: -385px;
  word-wrap: break-word;
  color: #000;
  font-family: Neue Machina;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
}

.Left_question{
  margin-top: -6px;
  display: inline-flex;
  position: inherit;
}
.Que_pic1 {
  margin-top: 170px;
  display: flex;
  position: initial;
  height: 370px;
  width: 370px;
  z-index: 3;
  border-radius: 32px;
}
.Que_pic2 {
  margin-left: -228px;
  margin-top: 339px;
  display: flex;
  position: initial;
  height: 200px;
  width: 210px;
  z-index: 2;
}
.Que_pic3 {
  margin-left: -128px;
  margin-top: 434px;
  display: flex;
  position: initial;
  height: 105px;
  width: 140px;
  z-index: 1;
}

.Right_question{
  margin-top: -4px;
    display: flex;
  position: inherit;
}
.Que_pic4 {
  margin-left: 1073px;
  margin-top: -370px;
  display: flex;
  position: initial;
  height: 370px;
  width: 370px;
  z-index: 3;
  border-radius: 32px;
}
.Que_pic5 {
  margin-left: -356px;
  margin-top: -201px;
  display: flex;
  position: initial;
  height: 200px;
  width: 210px;
  z-index: 2;
}
.Que_pic6 {
  margin-left: -223px;
  margin-top: -106px;
  display: flex;
  position: initial;
  height: 105px;
  width: 140px;
  z-index: 1;
}

.Font_Go_to_SQ {
  margin-left: 380px;
  margin-top: -240px;
  width: 690px;
  height: 46px;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
  display: block;
  position: relative;
  z-index: 2;
}

/*Пройти супер квиз*/
.SQ_Place{
  position: absolute;
    margin-left: 560px;
}
.SQ_nav {
  display: block;
  position: relative;
}
.SQ_item{
  display: flex;
  position: relative;
}
.font_Go_to_SQ {
  padding-top: 10px;
  display: block;
  height: 40px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  z-index: 2;
  border: 1px solid black;
  border-radius: 16px;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  overflow-wrap: break-word;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.font_Go_to_SQ:hover{
  background-color: #000000;
  color: #FFF;
  transition: 0.4s;
}
.font_Go_to_SQ:focus{
  background-color: #9E00FF;
  color: #FFF;
  transition: 0.4s;
}

/*===================Центр сайта=====================*/


                      /*Смайлики*/
.Smiles {
  height: 50px;
  width: 1068px;
  position: relative;
  display: inline-flex;
  margin-top: 535px;
  margin-left: 190px;
  gap: 8px;
}
.Smile_nav{
  display: block;
  position: relative;
}
.Smile_item{
  list-style: none;
}

/*=1=*/
.Smile_One {
  padding-top: 10px;
  margin-left: -39px;
  margin-top: -16px;
  border-radius: 40px;
  border: 1px solid black;
  text-decoration: none;
  justify-content: center;
  display: flex;
  position: relative;
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
}
.Smile_One:hover{
  background-color: #000000;
  color: white;
  border: 1px solid black;
  transition: 0.4s;
}
.Smile_One:focus{
  background-color: yellow;
  color: #000;
  border: 1px solid black;
  transition: 0.4s;
}
/*=2=*/
.Smile_Two{
  padding-top: 10px;
  margin-left: -39px;
  margin-top: -16px;
  border-radius: 40px;
  border: 1px solid black;
  text-decoration: none;
  justify-content: center;
  display: flex;
  position: relative;
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
}
.Smile_Two:hover{
  background-color: #000000;
  color: white;
  border: 1px solid black;
  transition: 0.4s;
}
.Smile_Two:focus{
  background-color: yellow;
  color: #000;
  transition: 0.4s;
}
/*=3=*/
.Smile_Three{
  padding-top: 10px;
  margin-left: -39px;
  margin-top: -16px;
  border-radius: 40px;
  border: 1px solid black;
  text-decoration: none;
  justify-content: center;
  display: flex;
  position: relative;
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
}
.Smile_Three:hover{
  background-color: #000000;
  color: white;
  border: 1px solid black;
  transition: 0.4s;
}
.Smile_Three:focus{
  background-color: yellow;
  color: #000;
  border: 1px solid black;
  transition: 0.4s;
}
/*=4=*/
.Smile_Four{
  padding-top: 10px;
  margin-left: -39px;
  margin-top: -16px;
  border-radius: 40px;
  border: 1px solid black;
  text-decoration: none;
  justify-content: center;
  display: flex;
  position: relative;
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
}
.Smile_Four:hover{
  background-color: #000000;
  color: white;
  border: 1px solid black;
  transition: 0.4s;
}
.Smile_Four:focus{
  background-color: yellow;
  color: #000;
  border: 1px solid black;
  transition: 0.4s;
}
/*=5=*/
.Smil_Five {
  margin-top: -16px;
  width: 140px;
  height: 50px;
  padding-top: 0px;
  margin-left: -39px;
  border-radius: 40px;
  border: 1px solid black;
  background-color: #FFF;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
  list-style: none;
  text-decoration: none;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.Smil_Five:hover{
  background-color: #000000;
  color: white;
  transition: 0.4s;
  border: 1px solid black;
}
.Smil_Five:focus{
  background-color: yellow;
  color: #000;
  border: 1px solid black;
  transition: 0.4s;
}

/*============= 1 - Блок с вопросами ===============*/
.Qviz_One{
  margin-top: 69px;
  margin-left: 328px;
  width: 1112px;
height: 634px;
background-color: #FFF;
display: block;
position: relative;
border-radius: 32px;
border: 1px solid black;
}

.font_app_One{
  margin-left: 32px;
  margin-top: 48px;
  color: #000;
font-family: Neue Machina;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.font_app_Two{
  margin-left: 32px;
  margin-right: 380px;
  margin-top: 24px;
  color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

              /* 1 - Пункт с ответами */
.buttons_One{
  margin-top: 47px;
  margin-left: 32px;
  display: flex;
  position: relative;
  gap: 8px;
}
.Answer_one{
  width: 260px;
  height: 45px;
  display: block;
padding: 8px 32px;
align-items: flex-start;
/**/
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
background-color: #FFF;
border: 1px solid black;
border-radius: 20px;
word-wrap: break-word;
cursor: pointer;
}
.Answer_one:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
  cursor: pointer;
}
.Answer_two{
  width: 415px;
height: 45px;
padding: 8px, 32px, 8px, 32px;
border-radius: 20px;
border: 1px solid black;
display: block;
position: relative;
align-items: flex-start;
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
background-color: #FFF;
border: 1px solid black;
word-wrap: break-word;
cursor: pointer;
}
.Answer_two:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
  cursor: pointer;
}
.Answer_three{
  width: 200px;
height: 44px;
padding: 8px, 32px, 8px, 32px;
border-radius: 20px;
border: 1px solid black;
display: block;
align-items: flex-start;
background-color: #FFF;
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
cursor: pointer;
}
.Answer_three:hover{
background-color: #000;
color: #FFF;
transition: 0.4s;
cursor: pointer;
}

              /*2-ой Пункт с ответами*/

.buttons_Two{
  margin-top: 8px;
  margin-left: 32px;
  display: flex;
  position: relative;
  gap: 8px;
}
.Answer_four{
  width: 355px;
  height: 45px;
  display: block;
padding: 8px 32px;
align-items: flex-start;
/**/
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
background-color: #FFF;
border: 1px solid black;
border-radius: 20px;
word-wrap: break-word;
cursor: pointer;
}
.Answer_four:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
  cursor: pointer;
}
.Answer_five{
  width: 125px;
height: 45px;
padding: 8px, 32px, 8px, 32px;
border-radius: 20px;
border: 1px solid black;
display: block;
position: relative;
align-items: flex-start;
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
background-color: #FFF;
border: 1px solid black;
word-wrap: break-word;
cursor: pointer;
}
.Answer_five:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
  cursor: pointer;
}
.Answer_six{
  width: 330px;
height: 44px;
padding: 8px, 32px, 8px, 32px;
border-radius: 20px;
border: 1px solid black;
display: block;
align-items: flex-start;
background-color: #FFF;
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
cursor: pointer;
}
.Answer_six:hover{
background-color: #000;
color: #FFF;
transition: 0.4s;
cursor: pointer;
} 

              /*3 - Пункт с ответами*/
.buttons_three{
  margin-top: 8px;
  margin-left: 32px;
  display: flex;
  position: relative;
  gap: 8px;
}
.Answer_seven{
  width: 365px;
  height: 45px;
  display: block;
padding: 8px 32px;
align-items: flex-start;
/**/
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
background-color: #FFF;
border: 1px solid black;
border-radius: 20px;
word-wrap: break-word;
cursor: pointer;
}
.Answer_seven:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
  cursor: pointer;
}
.Answer_eight{
  width: 335px;
height: 45px;
padding: 8px, 32px, 8px, 32px;
border-radius: 20px;
border: 1px solid black;
display: block;
position: relative;
align-items: flex-start;
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
word-wrap: break-word;
background-color: #FFF;
border: 1px solid black;
word-wrap: break-word;
cursor: pointer;
}
.Answer_eight:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
  cursor: pointer;
}

/*Кнопка продолжить*/
.Proda_One{
  width: 185px;
  height: 45px;
  margin-top: 32px;
  margin-left: 32px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 16px;
  display: block;
  position: relative;
  /**/
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
}
.Proda_One:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
  cursor: pointer;
}

/*=========Дисплей для показа вопроса на ответы======*/
/*1Блок*/
#selected-answer-container {
  position: absolute;
  transition: 3s;
  width: 250px;
  height: 100px;
  background-color: #ffffff;
  color: #000000;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: -450px;
  margin-left: 0px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  /**/
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
transition: 2s;
}
#selected-answer-container:hover{
  background-color: #000000;
  color: white;
  transition: 1s;
}
/*2Блок*/
#selected-answer-container_Two {
  position: absolute;
  transition: 3s;
  width: 250px;
  height: 100px;
  background-color: #ffffff;
  color: #000000;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: -345px;
  margin-left: 0px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
transition: 2s;
}
#selected-answer-container_Two:hover{
  background-color: #000000;
  color: white;
  transition: 1s;
}
/*3Блок*/
#selected-answer-container_Three {
  position: absolute;
  transition: 3s;
  width: 250px;
  height: 242px;
  background-color: #ffffff;
  color: #000000;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: -240px;
  margin-left: 0px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  /**/
  font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
transition: 2s;
}
#selected-answer-container_Three:hover{
  background-color: #000000;
  color: white;
  transition: 1s;
}

/*Дисплей для показа ответов на вопрос*/
#question-container {}

#Blok_Two{}

#Blok_Three{}

/*Дисплей на комментарий пользователя*/
#comment-input {}

/*Комментарий пользователя на дисплее*/
.Comment_BTN {
  background-color: #FFF;
  border-radius: 16px;
  border: 1px solid black;
  margin-left: 516px;
  margin-top: 467px;
  width: 186px;
  height: 50px;
  position: absolute;
  padding-top: 0px;
  display: block;
  color: #000000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Comment_BTN:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.2s;
}

/*=================(КОНЕЦ 1 - БЛОКА)=================*/

/*============= 2 - Блок с вопросами ===============*/
.Qviz_Two{
  display: none;
  position: absolute;
  z-index: 0;
  overflow: auto;
  transition: 1s;
  /**/
  width: 1112px;
  height: 588px;
  margin-top: -672px;
  margin-left: 328px;
  /**/
  background-color: #fff;
  color: #000;
  border-radius: 32px;
  border: 1px solid black;
}

.font_app_three{
  color: #000;
font-family: Neue Machina;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 48px;
margin-left: 32px;
}
.font_app_four{
  color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: -30px;
margin-left: 32px;
}

.buttons_one{
  display: flex;
  position: absolute;
  gap: 8px;
  margin-left: 32px;
  margin-top: 40px;
}
.Answer_nine{
  width: 500px;
  height: 45px;
  display: flex;
padding: 8px 32px;
justify-content: center;
align-items: center;
/**/
border: 1px solid black;
background-color: #FFF;
border-radius: 32px;
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
transition: 0.4s;
}
.Answer_nine:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
}
.Answer_ten{
  width: 380px;
  height: 45px;
  display: flex;
padding: 8px 32px;
justify-content: center;
align-items: center;
/**/
border: 1px solid black;
background-color: #FFF;
border-radius: 32px;
color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
transition: 0.4s;
}
.Answer_ten:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
}

.buttons_two{
  display: block;
  position: absolute;
  margin-left: 32px;
  margin-top: 92px;
}
.Answer_eleven{
  width: 490px;
  height: 45px;
  display: flex;
  padding: 8px 32px;
  border-radius: 32px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: 1px solid black;
background-color: rgb(255, 255, 255);
transition: 0.4s;
}
.Answer_eleven:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
}
.Answer_twelve{
  width: 680px;
  height: 45px;
  display: flex;
  padding: 8px 32px;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  color: #000;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: 1px solid black;
background-color: rgb(255, 255, 255);
transition: 0.4s;
}
.Answer_twelve:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
}

.Next_buttons_One{
  position: absolute;
  display: inline-flex;
  margin-left: 32px;
  margin-top: 221px;
  gap: 8px;
}
.Back_One {
  width: 120px;
  height: 45px;
  display: flex;
  padding: 7px 34px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  background-color: #FFF;
  border: 2px solid #000;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.4s;
}
.Back_One:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
}

.Proda_Two {
  display: flex;
  padding: 12px 32px;
  align-items: flex-start;
  width: 185px;
  height: 45px;
  display: flex;
  padding: 7px 38px;
  align-items: flex-start;
  background-color: #FFF;
  border-radius: 16px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.4s;
}
.Proda_Two:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
}

/*============= 3 - Блок с вопросами ===============*/
.Quiz_Three{
  display: none;
  position: absolute;
  z-index: 0;
  overflow: auto;
  transition: 1s;
  /**/
  width: 1112px;
height: 740px;
border-radius: 32px;
background: #FFF;
border: 1px solid black;
margin-top: -824px;
  margin-left: 328px;
}

.Big_Smile{
  width: 256px;
  height: 128px;
  margin-top: 48px;
  margin-left: 32px;
  display: inline-block;
  position: absolute;
}
.font_app_five{
  position: inherit;
  margin-top: 200px;
  margin-left: 32px;
  color: #000;
font-family: Neue Machina;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.font_app_six{
  position: inherit;
  margin-top: 404px;
  margin-right: 380px;
  color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 32px;
}

.Say {
  position: absolute;
  display: flex;
  padding: 8px 0px;
  align-items: flex-start;
  width: 700px;
  height: 45px;
  margin-top: 380px;
  margin-left: 0px;
}

.Next_buttons_Two {
  position: absolute;
  display: inline-flex;
  margin-left: 32px;
  margin-top: 132px;
  gap: 8px;
}
.Back_Two {
  margin-top: 533px;
  width: 120px;
  height: 45px;
  display: flex;
  padding: 7px 34px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  background-color: #FFF;
  border: 2px solid #000;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.4s;
}
.Back_Two:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
}

.Proda_Three {
  margin-top: 533px;
  display: flex;
  padding: 12px 32px;
  align-items: flex-start;
  width: 185px;
  height: 45px;
  display: flex;
  padding: 7px 38px;
  align-items: flex-start;
  background-color: #FFF;
  border-radius: 16px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.4s;
}
.Proda_Three:hover{
  background-color: #000;
  color: #FFF;
  transition: 0.4s;
}
/*=======DropDown Menu [Выбор эмоций]===============*/
.Center {
  width: 295px;
  height: 50px;
  margin-left: 32px;
  margin-top: 585px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown{
  width: 295px;
  height: fit-content;
  box-sizing: border-box;
  position: relative;
}
.input-box{
  margin-top: 30px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  outline: 0.3mm solid rgba(0, 0, 0, 0.1);/*Прозрачный фон*/
  border-radius: 2mm;
  padding: 10px 15px;
  cursor: pointer;
  /**/
  color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.list{ /*Лист и есть та самая выборка, за которой прячится выбор Эмоций*/
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: fit-content;
  background-color: #FFF;
  margin-top: 10px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 black; /*Рамка*/
  max-height: 0;
  transition: 0.2s ease-out;/*Выход доп меню*/
}
.list input{
  display: none; /*Убирает галачки*/
}
.list label{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  /**/
  color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
/**/
padding: 10px 15px;/*Отступы между словами*/
box-shadow: 0 1px 2px 0 black;/* Подчеркнутые линии*/
cursor: pointer;
position: relative;
}
.Var_Em{
  margin-left: 20px;
}
/*Делаем выборку*/
input:checked + label{
  color: #9E00FF;
  background: #dbcce4;
}
input:checked + label:hover{
 color: #FFF;
 background-color: #353535;
 transition: 0.2s;
}

/*Теперь Before*/
input:checked + label:before {
  content: "";
  background-image: url(/PNG/Choise.png);
  position: absolute;
  background-color: #9d00ff00;
  background-size: cover;
  width: 21px;
  height: 15px;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
  margin-right: -13px;
}
.input-box::before {
  content: "";
  background-image: url(/PNG/DOWN.png);
  position: absolute;
  background-size:contain;
  width: 24px;
  height: 15px;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
  margin-right: -11px;
  margin-top: 11px;
  transition: 0.2s;
}
.input-box.open::before {
  content: "";
  background-image: url(/PNG/UP.png);
  position: absolute;
  background-size:contain;
  width: 24px;
  height: 15px;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
  margin-right: -11px;
  margin-top: 11px;
  transition: 0.2s;
}
/*Класс из JS - OPEN*/
.open{
  outline: 0.7mm solid black; /*Рамка при выборе становится черной*/
}


/*=================Свайп-Пользователи===============*/
/*Главный экран пользователей*/
.swiper {
margin-top: 860px;
width: 1444px;
height: 464px;
}
.Nav_User{
  display: flex;
  position: inherit;
}

                      /*Блок Андрей*/
.Andrew{
width: 352px;
height: 464px;
border-radius: 32px;
background-image: url(/Image/Autumn.jpg);
}
.Block_Andrew{
width: 336px;
height: 286px;
padding-top: 170px;
padding-left: 8px;
padding-bottom: 8px;
display: block; 
position: absolute;
}
.Ramka{
  position: absolute;
  display: flex;
  margin-left: 104px;
}
.Photo_Andrew{
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  margin-top: 8px;
  border-radius: 40px;
  margin-left: 128px;
}
.Block_Font_And{
  position: initial;
  display: block;
  background-color: white;
  border-radius: 24px;
  width: 336px;
  height: 240px;
  margin-top: 46px;
}
.Name{
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
display: block;
width: 304px;
height: 28px;
margin-top: 50px;
margin-left: 15px;
}
.So_Name{
  width: 304px;
height: 114px;
position: absolute;
display: block;
align-items: center;
padding-left: 16px;
padding-top: 99px;
/**/
color: #000;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

                  /*Блок Тимур*/
.Timur{
  margin-left: 10px;
width: 352px;
height: 464px;
border-radius: 32px;
background-image: url(/Image/Dust.jpeg);
}
.Block_Timur{ /*Прозра фон*/
width: 336px;
height: 286px;
padding-top: 208px;
padding-left: 8px;
padding-bottom: 8px;
display: block; 
position: absolute;
}
.Ramka{
  position: absolute;
  display: flex;
  margin-left: 104px;
}
.Photo_Timur{
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  margin-top: 8px;
  border-radius: 40px;
  margin-left: 128px;
}
.Block_Font_Tim{
  position: initial;
  display: block;
  background-color: white; /*Белый фон для шрифта*/
  border-radius: 24px;
  width: 336px;
  height: 202px;
  margin-top: 46px;
}
.Name{
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
display: block;
width: 304px;
height: 28px;
margin-top: 50px;
margin-left: 15px;
}
.So_Name{
  width: 304px;
height: 114px;
position: absolute;
display: block;
align-items: center;
padding-left: 16px;
padding-top: 99px;
/**/
color: #000;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

                      /*Блок Артур*/
.Arthur{
  margin-left: 10px;
width: 352px;
height: 464px;
border-radius: 32px;
background-image: url(/Image/Forest.jpg);
}
.Block_Arthur{ /*Прозрачный фон*/
width: 336px;
height: 267px;
padding-top: 189px;
padding-left: 8px;
padding-bottom: 8px;
display: block; 
position: absolute;
}
.Ramka{
  position: absolute;
  display: flex;
  margin-left: 104px;
}
.Photo_Arthur{
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  margin-top: 8px;
  border-radius: 40px;
  margin-left: 128px;
}
.Block_Font_Art{
  position: initial;
  display: block;
  background-color: white; /*Белый фон для шрифта*/
  border-radius: 24px;
  width: 336px;
  height: 221px;
  margin-top: 46px;
}
.Name{
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
display: block;
width: 304px;
height: 28px;
margin-top: 50px;
margin-left: 15px;
}
.So_Name{
  width: 304px;
height: 114px;
position: absolute;
display: block;
align-items: center;
padding-left: 16px;
padding-top: 99px;
/**/
color: #000;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

                        /*Блок Егор*/
.Egor{
  margin-left: 10px;
width: 352px;
height: 464px;
border-radius: 32px;
background-image: url(/Image/Hills.jpg);
}
.Block_Egor{ /*Прозрачный фон*/
width: 336px;
height: 286px;
padding-top: 189px;
padding-left: 8px;
padding-bottom: 8px;
display: block; 
position: absolute;
}
.Face_Four{
  margin-top: -19px;
  position: absolute;
  display: block;
}
.Ramka{
  position: absolute;
  display: flex;
  margin-left: 104px;
}
.Photo_Egor{
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  margin-top: 8px;
  border-radius: 40px;
  margin-left: 128px;
}
.Block_Font_Egor{
  position: initial;
  display: block;
  background-color: white; /*Белый фон для шрифта*/
  border-radius: 24px;
  width: 336px;
  height: 240px;
  margin-top: 27px;
}
.Name{
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
display: block;
width: 304px;
height: 28px;
margin-top: 50px;
margin-left: 15px;
}
.So_Name{
  width: 304px;
height: 114px;
position: absolute;
display: block;
align-items: center;
padding-left: 16px;
padding-top: 99px;
/**/
color: #000;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
                        /*Блок Tumir*/
.Tim{
  margin-left: 0px;
width: 352px;
height: 464px;
border-radius: 32px;
background-image: url(/Image/Sky.jpg);
}
.Block_Tim{ /*Прозрачный фон*/
width: 336px;
height: 191px;
padding-top: 265px;
padding-left: 8px;
padding-bottom: 8px;
display: block; 
position: absolute;
}
.Ramka{
  position: absolute;
  display: flex;
  margin-left: 104px;
}
.Photo_Tim{
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  margin-top: 8px;
  border-radius: 40px;
  margin-left: 128px;
}
.Block_Font_Timur{
  position: initial;
  display: block;
  background-color: white; /*Белый фон для шрифта*/
  border-radius: 24px;
  width: 336px;
  height: 145px;
  margin-top: 46px;
}
.Name{
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
display: block;
width: 304px;
height: 28px;
margin-top: 50px;
margin-left: 15px;
}
.So_Name{
  margin-top: 0px;
  width: 304px;
height: 114px;
position: absolute;
display: block;
align-items: center;
padding-left: 16px;
padding-top: 99px;
/**/
color: #000;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

                        /*Блок Рустем*/
.Rustem{
  margin-left: 10px;
width: 352px;
height: 464px;
border-radius: 32px;
background-image: url(/Image/Forest_BY.jpg);
}
.Block_Rustem{ /*Прозрачный фон*/
width: 336px;
height: 286px;
padding-top: 189px;
padding-left: 8px;
padding-bottom: 8px;
display: block; 
position: absolute;
}
.Face_Six{
  margin-top: -19px;
  position: absolute;
  display: block;
}
.Ramka{
  position: absolute;
  display: flex;
  margin-left: 104px;
}
.Photo_Rustem{
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  margin-top: 8px;
  border-radius: 40px;
  margin-left: 128px;
}
.Block_Font_Rustem{
  position: initial;
  display: block;
  background-color: white; /*Белый фон для шрифта*/
  border-radius: 24px;
  width: 336px;
  height: 240px;
  margin-top: 27px;
}
.Name{
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
display: block;
width: 304px;
height: 28px;
margin-top: 50px;
margin-left: 15px;
}
.So_Name{
  width: 304px;
height: 114px;
position: absolute;
display: block;
align-items: center;
padding-left: 16px;
padding-top: 99px;
/**/
color: #000;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.Niz {
  border-top-right-radius: 34px;
  border-top-left-radius: 34px;
  margin-top: 88px;
  width: 1444px;
  height: 283px;
  background-color: #000;
  position: absolute;
  display: flex;
  z-index: 1;
}
.contact{
  position: inherit;
  display: flex;
  margin-left: 48px;
  margin-top: 32px;
}
.Phone{
  color: white;
  display: block;
  position: absolute;
  width: 84px;
height: 23px;
/**/
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Gmail{
  margin-left: 565px;
  display: block;
  position: absolute;
  width: 52px;
height: 23px;
/**/
color: #FFF;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.get_Contant{
  display: flex;
  position: absolute;
  width: 1043px;
height: 46px;
margin-top: 87px;
margin-left: 48px;
}
.Number{
position: absolute;
display: block;
width: 469px;
height: 46px;
/**/
  color: #FFF;
font-family: Neue Machina;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}
.Mail{
width: 526px;
height: 46px;
margin-left: 565px;
color: #FFF;
font-family: Neue Machina;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}

.Visit{
width: 1043px;
height: 75px;
position: absolute;
display: flex;
margin-top: 177px;
margin-left: 48px;
gap: 8px;
}
.Site{
  display: flex;
  position: absolute;
}
.TT_link{
  width: 341.819px;
  height: 71.582px;
  background-color: #000;
  border-radius: 34px;
}
.Tik-Tik{
  width: 65px;
  height: 65px;
  position: absolute;
  display: block;
  margin-left: 130px;
}
.Vk_link{
  width: 341.819px;
  height: 71.582px;
  background-color: #4d76a1;
  margin-left: 8.77px;
  border-radius: 34px;
}
.V-K{
  width: 65px;
  height: 65px;
  position: absolute;
  display: block;
  margin-left: 130px;
}
.TG_link{
  width: 341.819px;
  height: 71.582px;
  background-color:#319fd0;
  margin-left: 8.77px;
  border-radius: 34px;
}
.T-G{
  margin-left: 130px;
  width: 65px;
  height: 65px;
  position: absolute;
  display: block;
}

/*Конец*/